<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
      
<head>
  <title>All events</title>
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
  <style>
  	   #map {
        height: 500px;
        width: 100%;
        margin-bottom: 10rem;
       }
       #search{
        width: 30%;
       }
  	</style>
</head>

<body>
  <div layout:fragment="content">
  <div class="container">
  
  <form action="#" th:object="${event}" th:action="@{/events/search}" th:method="get">
        <input class="form-control" id = "search" type="text" name="search" th:placeholder="Search"/>
    </form>
    
    <h1>All events</h1>

    <h2>Upcoming events</h2>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th><i class="fa fa-bolt"></i> Event</th>
          <th><i class="fa fa-map-marker"></i> Venue</th>
          <th><i class="fa fa-calendar"></i> Date</th>
          <th><i class="fa fa-clock-o"></i> Time</th>
          <div sec:authorize="isAuthenticated()">
          <th><i class="fa fa-edit"></i> Update</th>
    	  </div>
          
        </tr>
      </thead>
      <tbody>
        <tr th:each="e : ${futureEvents}">
          <td> <a th:href="@{../events/event(ename=${e.id})}"> <p th:text="${e.name}"> Event name</p> </a> </td>
          <td> <a th:href="@{../venues/venue(vname=${e.venue.id})}"> <p th:text="${e.venue.name}"> Event venue </a> </td>
          <td th:text="${{e.date}}">Event date</td>
          <td th:text="${{e.time}}">Event time</td>
          <td>
          <a class="btn btn-primary" role="button" th:href="@{'/events/'+ ${e.id}}" sec:authorize="isAuthenticated()"><i class="fa fa-edit" aria-hidden="true"></i> Update</a>
          </td>
        </tr>
      </tbody>
    </table>
    
    <p>
      <a class="btn btn-primary" role="button" type="submit" href="/events/new" sec:authorize="isAuthenticated()"><i class="fa fa-plus" aria-hidden="true"></i> Add a new event</a>
    </p>
    
    <h2>Previous events</h2>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th><i class="fa fa-bolt"></i> Event</th>
          <th><i class="fa fa-map-marker"></i> Venue</th>
          <th><i class="fa fa-calendar"></i> Date</th>
          <th><i class="fa fa-clock-o"></i> Time</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="e : ${pastEvents}">
          <td> <a th:href="@{../events/event(ename=${e.id})}"> <p th:text="${e.name}"> Event name</p> </a> </td>
           <td> <a th:href="@{../venues/venue(vname=${e.venue.id})}"> <p th:text="${e.venue.name}"> Event venue </a> </td>
          <td th:text="${{e.date}}">Event date</td>
          <td th:text="${{e.time}}">Event time</td>
        </tr>
      </tbody>
    </table>

    
    <div th:unless="${#lists.size(tweets) == 0}">
    <h2>Twitter timeline</h2>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th><i class="fa fa-calendar"></i> Date</th>
          <th><i class="fa fa-bolt"></i> Tweet</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="t : ${tweets}">
			<td th:text="${t.createdAt}">Date</td>
			<td> <a th:href="'https://twitter.com/EventLiteG02_18/status/' + ${t.idStr}" th:text="${t.text}">Tweet</a></td>
        </tr>
      </tbody>
    </table>
    </div>

    <div id="map">Map goes here</div>
        <script th:inline="javascript">
      function initMap() 
      {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: {lat: 53.483959, lng: -2.244644}
        });

		var latitudes = [];
		
		var longitudes = [];

		var names = [];
		
		var markers = [];
		
		var date = [];
		
		var time = [];
		
		var venue = [];
		
        /*[# th:each="e : ${futureEvents}"]*/
 
		latitudes.push("[(${e.venue.latitude})]");
		longitudes.push("[(${e.venue.longitude})]");
		names.push("[(${e.name})]");
		date.push("[(${e.date})]");
		time.push("[(${e.time})]");
		venue.push("[(${e.venue.name})]");
		/*[/]*/

    	for (i = 0; i < names.length; i++)
    	{
    	  var marker = new google.maps.Marker({
          	position: {lat: parseFloat(latitudes[i]), lng: parseFloat(longitudes[i])},
         	map: map,
         	title: names[i],
          	label: names[i]
          });
    	  
    	  var infoWindowContent = '<h4>Event name:' + names[i] + '</h4><br>' +
    	  						  '<h5>Date: </h5>' + date[i] + '<br>' +
    	  						  '<h5>Time: </h5>' + time[i] + '</h5><br>' +
    	  						  '<h5>Venue: </h5>' + venue[i];
    	  var infoWindow = new google.maps.InfoWindow({content: infoWindowContent});
    	  
    	  google.maps.event.addListener(marker, 'click', (function(marker, content,infoWindow) {
              return function() {
                  infoWindow.setContent(content);
                  infoWindow.open(map, marker);
              }
          })(marker, infoWindowContent,infoWindow));
    	  
    	  
    	  
    	  markers.push(marker);
	    }
		
    	var markerCluster = new MarkerClusterer(map, markers,
        {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});

      }
    </script>
    
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUk8QtlJRZ4_-o4YRacu59TUZuA6X1Qm8&callback=initMap"
  	type="text/javascript"></script>
   </div>
</body>
</html>
