<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title layout:title-pattern="$LAYOUT_TITLE: $CONTENT_TITLE">EventLite</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css" />
  <style>

  #home{
  margin-right: 500px;
    }
    .btns{
    display:inline-block;
    margin-right: 50px;
    }
  </style>
</head>
<body>


 
 
  
  <nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">EventLite Home</a>
	    </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="/events">View all events</a></li>
	        <li><a href="/venues">View all venues</a></li>
	        
	        <li>
	        <a>
	        <form id = "twitter" action="#" th:object="${event}" th:action="@{/events/twitterButton}" th:method="get">
                  <button id="twitter" style="background:none; border:none;" type="submit">Twitter connect</button>
            </form>
            </a>
	        </li>
	        
	        
	        <li sec:authorize="!isAuthenticated()">
	            <a th:href="@{/sign-in}">Sign in</a>
	        </li>
	        <li sec:authorize="isAuthenticated()">
	        <a>
              <form th:action="@{/sign-out}" method="post">
              <i class="fa fa-user" aria-hidden="true"></i> Signed in as <span sec:authentication="name"></span>
  				  <button style="background:none; border:none;" type="submit">Sign out</button>
              </form>
            </a>
	        </li>
	        

	      </ul>
	    </div>
	  </div>
	</nav>
  
       <div class="container">
      
    	<div class="alert alert-success alert-dismissible" role="alert" th:if="${ok_message}">
      		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
        		<i class="fa fa-times" aria-hidden="true"></i>
      		</button>
		<span th:text="${ok_message}">Success!</span>
		</div>
    
    	<div class="alert alert-danger alert-dismissible" role="alert" th:if="${error_message}">
      		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
        		<i class="fa fa-times" aria-hidden="true"></i>
      		</button>
		<span th:text="${error_message}">Error!</span>
		</div>
		
    <div layout:fragment="content">
      Main page body goes here...
    </div>
    
    </div>

  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
