<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title layout:title-pattern="$LAYOUT_TITLE: $CONTENT_TITLE">EventLite</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css" />
  <style>
  #twitter {
    font-size: 17px;
    width: 200px;
    text-decoration: none;
    background: #55ACEE;
    color: white;
    float: right;
  }
  #twitter:hover {
    opacity: 0.7;
  }
  #home{
    margin-top: 0.3rem;
    float:right;
    margin-right: 50px;
    }
    #btns{
    float:right;
    }
  </style>
</head>
<body>

  <div class="container">
    <div sec:authorize="!isAuthenticated()">
      <i class="fa fa-user" aria-hidden="true"></i> Not signed in
      <a class="btn btn-default navbar-btn" role="button" th:href="@{/sign-in}">
        <i class="fa fa-sign-in" aria-hidden="true"></i> Sign in
      </a>
    </div>
    <div class="log" sec:authorize="isAuthenticated()">
      <form th:action="@{/sign-out}" method="post">
        <i class="fa fa-user" aria-hidden="true"></i> Signed in as <span sec:authentication="name"></span>
        <button type="submit" class="btn btn-warning"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign out</button>
      </form>
    </div>
    <div id="btns">
    <form id = "twitter" action="#" th:object="${event}" th:action="@{/events/twitterButton}" th:method="get">
        <button id="twitter" class="fa fa-twitter" type="submit" >Connect to twitter!</button>
      </form>
      <a id="home" class="btn btn-success" role="button" th:href="@{/}">
        <i class="fa fa-home"></i> Home
      </a>
      </div>
    <div class="container">
    	<div class="alert alert-success alert-dismissible" role="alert" th:if="${ok_message}">
      		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
        		<i class="fa fa-times" aria-hidden="true"></i>
      		</button>
		<span th:text="${ok_message}">Success!</span>
    </div>
    
    <div class="container">
    	<div class="alert alert-danger alert-dismissible" role="alert" th:if="${error_message}">
      		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
        		<i class="fa fa-times" aria-hidden="true"></i>
      		</button>
		<span th:text="${error_message}">Error!</span>
    </div>
    
    

    <div layout:fragment="content">
      Main page body goes here...
    </div>
  </div>

  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
