<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}">
<head>
  <title>All</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>All venues</h1>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Capacity</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="v : ${venues}">
         <td> <a th:href="@{../venues/venue(vname=${v.id})}"> <p th:text="${v.name}"> Venue name</p> </a> </td>
          <td th:text="${v.address}">Venue address</td>
          <td th:text="${v.capacity}">Venue capacity</td>
          <td>
          <a class="btn btn-primary" role="button" th:href="@{'/venues/'+ ${v.id}}"><i class="fa fa-edit" aria-hidden="true"></i> Update</a>
          </td>
          <td>
          <form th:action="@{/venues/{num}(num=${v.id})}" th:method="delete">
      <button type="submit" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i>Delete</button>
    </form>
        </td>
        </tr>
      </tbody>
    </table>

    <p>
      <a class="btn btn-primary" role="button" href="/venue/new"><i class="fa fa-plus" aria-hidden="true"></i> Add a new venue</a>
    </p>
  </div>
</body>
</html>
