<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}">
<head>
  <title>New</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>Add a new venue</h1>
    
    <form action="#" th:action="@{/venues}" th:object="${venue}" method="post">
      <div class="form-group" th:classappend="${#fields.hasErrors('name')}? has-error">
        <label for="name">*Venue name</label>
        <input class="form-control" type="text" name="name" id="name" autofocus="autofocus" />
        <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">errors</p>
      </div>
      <div class="form-group" th:classappend="${#fields.hasErrors('capacity')}? has-error">
        <label for="capacity">*Capacity :</label>
        <input class="form-control" type="number" name="capacity" id="capacity" th:field="*{capacity}" />
        <p class="text-danger" th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}">errors</p>
      </div>
      
      <div class="form-group" th:classappend="${#fields.hasErrors('roadName')}? has-error">
        <label for="roadName">Road name :</label>
        <input class="form-control" type="text" name="roadName" id="roadName" th:field="*{roadName}" />
        <p class="text-danger" th:if="${#fields.hasErrors('roadName')}" th:errors="*{roadName}">errors</p>
      </div>
      <div class="form-group" th:classappend="${#fields.hasErrors('postcode')}? has-error">
        <label for="postcode">*Postcode :</label>
        <input class="form-control" type="text" name="postcode" id="postcode" th:field="*{postcode}" />
        <p class="text-danger" th:if="${#fields.hasErrors('postcode')}" th:errors="*{postcode}">errors</p>
      </div>
    
      <button class="btn btn-primary" type="submit"><i class="fa fa-bookmark-o" aria-hidden="true"></i> Save</button>
      <a class="btn btn-warning" role="button" href="/venues"><i class="fa fa-ban" aria-hidden="true"></i> Cancel</a>
    </form>
  </div>
</body>
</html>