<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>All Venues</title>
   <style>
  #search{
        width: 30%;
       }
  </style>
</head>
<body>
  <div layout:fragment="content">
    <h1>All Venues</h1>
    
    
    <div class="container">
    <h2>Search for Venues</h2>
    <form action="#" th:object="${venue}" th:action="@{/venues/search}" th:method="get">
        <input type="text" name="search" id="search"/>
        <button type="submit" class="btn btn-success"><i class="fa fa-search" aria-hidden="true"></i> Search! </button>
    </div>
            <h1>Venues</h1>
            <table class="table table-striped table-hover">
                <tr>
		          <th></i> Venue</th>
		          <th></i> Capacity</th>
		          <th>Address</th>
		          <th><i class="fa fa-edit"></i> Update</th>
		        </tr>
                <tr th:if="${not #lists.isEmpty(search)}" th:each="venue: ${search}">
                    <td> <a th:href="@{/venues/venue(vname=${venue.id})}"> <p th:text="${venue.name}"> Venue name</p> </a> </td>
                    <td th:text="${venue.capacity}">Capacity</td>
                    <td th:text="${venue.address}">Address</td>
                    <td>
          				<a class="btn btn-primary" role="button" th:href="@{'/venues/'+ ${venue.id}}"><i class="fa fa-edit" aria-hidden="true"></i> Update</a>
          			</td>
                </tr>
            </table>
    </form>
    
</body>
</html>