<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>All Venues</title>
   <style>
  #search{
        width: 30%;
       }
  </style>
</head>
<body>
  <div layout:fragment="content">
    <div class="container">
    
    <form action="#" th:object="${venue}" th:action="@{/venues/search}" th:method="get">
        <input class="form-control" id="search" type="text" name="search" th:placeholder="Search"/>
    </form>
    
    <h1>Search venues results</h1>
    
            <h2>Venues</h2>
            <table class="table table-striped table-hover">
                <tr>
		          <th></i> Venue</th>
		          <th></i> Capacity</th>
		          <th>Address</th>
		          <div sec:authorize="isAuthenticated()">
          <th><i class="fa fa-edit"></i> Update</th>
    	  </div>
		          
		        </tr>
                <tr th:if="${not #lists.isEmpty(search)}" th:each="venue: ${search}">
                    <td> <a th:href="@{/venues/venue(vname=${venue.id})}"> <p th:text="${venue.name}"> Venue name</p> </a> </td>
                    <td th:text="${venue.capacity}">Capacity</td>
                    <td th:text="${venue.address}">Address</td>
                    <td>
          				<a class="btn btn-primary" role="button" th:href="@{'/venues/'+ ${venue.id}}" sec:authorize="isAuthenticated()"><i class="fa fa-edit" aria-hidden="true"></i> Update</a>
          			</td>
                </tr>
            </table>
    </div>
    </div>
    
</body>
</html>