<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<title>Twitter connect</title>
	</head>
	<body>
	<div layout:fragment="content">
  	<div class="container">  
		<h1>Connect to Twitter</h1>
		<span th:if="${social_provider_error}">Provider error (maybe you need to configure the app id and secret?)</span>
		<form action="/connect/twitter" method="POST">
			<input
				type="hidden"
				th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" ?>
				
			<div class="formInfo">
				<p>Click the button to connect your EventLite account with Twitter.</p>
			</div>
			<p>
			<!--<button type="submit">Connect to Twitter</button>-->
			<button class="btn btn-primary" type="submit"><i class="fa fa-sign-in" aria-hidden="true"></i> Connect to Twitter</button>
			</p>
		</form>
		
		</div>
		</div>
		
	</body>
</html>