<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>EventLite Home</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css">
</head>

<body>
<div layout:fragment="content">
  <div class="container">  
  <h1>EventLite Home</h1>
    <h2>Upcoming 3 events</h2>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th><i class="fa fa-bolt"></i> Event</th>
          <th><i class="fa fa-map-marker"></i> Venue</th>
          <th><i class="fa fa-calendar"></i> Date</th>
          <th><i class="fa fa-clock-o"></i> Time</th>
        </tr>
      </thead>
      <tbody>
          
        <tr th:each="e : ${next3Events}">
          <td> <a th:href="@{../events/event(ename=${e.id})}"> <p th:text="${e.name}"> Event name</p> </a> </td>
          <!--  <td th:text="${e.venue.name}">Event venue</td>-->
          <td> <a th:href="@{../venues/venue(vname=${e.venue.id})}"> <p th:text="${e.venue.name}"> Venue name</p> </a> </td>
          <td th:text="${{e.date}}">Event date</td>
          <td th:text="${{e.time}}">Event time</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="container">
    <h2>Top 3 venues</h2>
      <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Number of events</th>
          <th>Address</th>
          <th>Capacity</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="v, iterStat : ${top3Venues}">
          <td> <a th:href="@{../venues/venue(vname=${v.id})}"> <p th:text="${v.name}"> Venue name</p> </a> </td>
          <td th:text="${top3VenuesCount[iterStat.index]}"> Number events </td>
          <td th:text="${v.roadName} + ', ' + ${v.postcode}">Venue address</td>
          <td th:text="${v.capacity}">Venue capacity</td>
        </tr>
      </tbody>
    </table>
  
  
  </div>
  </div>
  
  `
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
